<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Automate</title>
</head>
<body>
<h1> Web Automate</h1>
<h4> http://&#60;server>/start?browser=&#60;browser>&url=&#60;url> should start the desired browser and open the URL in the same browser instance.</h4>
<h4> http://&#60;server>/geturl?browser=&#60;browser> should get the current active tab URL for the given browser </h4>
<h4> http://&#60;server>/stop?browser=&#60;browser> should stop the given browser if it is running </h4>
<h4> http://&#60;server>/cleanup?browser=&#60;browser> should clean up the browsing session for the given browser if has been stopped. </h4>

</h4>
</body>
</html>